<div class="bg">
    <div class="nav">
        <div class="name_logo">
            <img class="logo" src="/assets/logo.jpg" alt="logo" height="50px" width="50px">
            <h2 class="name">Name Surname</h2>
        </div>
        <div class="box">
            <table class="search_element">
                <tr>
                    <td>
                        <input type="text" placeholder="Search" class="search">
                    </td>
                    <td>
                        <a href="#"><i class="material-icons" style="color: black; margin-top: 3px;">search</i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class = "dropdown">
            <div class="menu">
                <div class="button" id = "bar_btn">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul id = "list" style="z-index: 1;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Playlist</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="songs">
        <div class="container-fluid">
            <div class = "row" style="margin: 10px;">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                    <div class="card card-style" style="background: url(assets/7.jpg);">
                        <div class="card-body">
                                <h5 class="card-title"style="color: black;" ><b>Liked Songs</b></h5>
                                <p class="card-text"><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" >
                    <div class="card card-style"  style="background: url(assets/5.jpg);">
                            <div class="card-body">
                                <h5 class="card-title"style="color: aliceblue;"><b>New Jams</b></h5>
                                <p class="card-text"><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" >
                    <div class="card card-style" style="background: url(assets/3.jpg);">
                        <div class="card-body">
                            <h5 class="card-title" style="color: aliceblue;"><b>Millennial Hits</b></h5>
                            <p class="card-text"><br></p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-2">
                    <div class="card card-style" style="background: url(assets/6a.png);">
                        <div class="card-body">
                            <h5 class="card-title" style="color: aliceblue;"><b>Nonstop Radio</b></h5>
                            <p class="card-text"><br></p>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="play_pause">
        <span class = "song_name">Song name</span>
        <a href="#"><i class="material-icons" style="color: white;">
            favorite
        </i></a>
        <a href="#">
            <span class="material-icons" style="color: white;">
                skip_previous
            </span>
        </a>
        <a href="#">
            <span class="material-icons" style="color: white;">
                play_arrow
                </span>
        </a>
        <a href="#">
            <span class="material-icons" style="color:white">
                pause
                </span>
        </a>
        <a href="#">
            <span class="material-icons"style="color: white;">
                skip_next
                </span>
        </a>
        <a href="#">
            <span class="material-icons" style="color: white;">
                queue_music
                </span>
        </a>
    </div>
</div>