<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:transparent;">
    <div class="container">
        <div class="row" style="text-align: end;">
            <div class="col-11"></div>
            <a href="home.html"><div class="col-1 close">X</div></a>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 card-style">
                <div class="card">
                <img src="sad.png" class="card-img-top" alt="Sad">
                <a href="#" class="btn btn-primary">Sad</a>
              </div>
            </div>
            <div class="col-md-2 card-style">
                <div class="card">
                    <img src="happy.png" class="card-img-top" alt="Happy">
                    <a href="#" class="btn btn-primary">Happy</a>
                </div>
            </div>         
            <div class="col-md-2 card-style">
                <div class="card">
                    <img src="angry.png" class="card-img-top" alt="Angry">
                    <a href="#" class="btn btn-primary">Angry</a>
                </div>
            </div>
            <div class="col-md-2 card-style">
                <div class="card">
                    <img src="bored.jpeg" class="card-img-top" alt="Angry">
                    <a href="#" class="btn btn-primary">Bored</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 card-style">
                <div class="card">
                <img src="heart.png" class="card-img-top" alt="Love">
                <a href="#" class="btn btn-primary">Love</a>
              </div>
            </div>
            <div class="col-sm-2 card-style">
                <div class="card">
                    <img src="breakup.png" class="card-img-top" alt="Breakup">
                    <a href="#" class="btn btn-primary">Breakup</a>
                </div>
            </div>         
            <div class="col-sm-2 card-style">
                <div class="card">
                    <img src="cool.png" class="card-img-top" alt="Cool">
                    <a href="#" class="btn btn-primary">Chill AF</a>
                </div>
            </div>
            <div class="col-sm-2 card-style">
                <div class="card">
                    <img src="peace.png" class="card-img-top" alt="Peace">
                    <a href="#" class="btn btn-primary">Calm down</a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>    
    </div>
</body>