<div class="bg">
    <div class = "row justify-content-start" style="margin: 20px; padding: 10px;">
        <div class="col-sm-3">
            <div class="logo"><img src="assets/logo.jpg" class="img-fluid rounded-circle" alt = "Logo" height="45px" width="45px"/></div>
            <div class="logo"><h5 style="font-family:Georgia, 'Times New Roman', Times, serif">Good Morning :)</h5></div>
        </div>
        <div class = "col-sm-7">
            <div class="searchBox">
            <!-- <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                </span>
            </div> -->
            <input class="searchInput" type="text" name="" placeholder="Search">
            <!-- <button class="searchButton" href="#">
                <span class="material-icons-outlined">
                    search
                    </span>
            </button> -->
        </div>
        </div>
        <div class="col-sm-2" style = "text-align: right;">
            <div class="dropdown"  routerLink="/category" routerLinkActive="active">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: black; margin-left: 100px;font-family:Georgia, 'Times New Roman', Times, serif">
                    Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Categories</a>
                    <a class="dropdown-item" href="#">Playlist</a>
                    <a class="dropdown-item" href="#">Login</a>
                </div>
                </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class = "row" style="margin: 10px;">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <div class="card card-style" style="background: url(assets/7.jpg);">
                    <div class="card-body">
                            <h5 class="card-title"style="color: black;" ><b>Liked Songs</b></h5>
                            <p class="card-text"><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" >
                <div class="card card-style"  style="background: url(assets/5.jpg);">
                        <div class="card-body">
                            <h5 class="card-title"style="color: aliceblue;"><b>New Jams</b></h5>
                            <p class="card-text"><br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" >
                <div class="card card-style" style="background: url(assets/3.jpg);">
                    <div class="card-body">
                        <h5 class="card-title" style="color: aliceblue;"><b>Millennial Hits</b></h5>
                        <p class="card-text"><br></p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-2">
                <div class="card card-style" style="background: url(assets/6a.png);">
                    <div class="card-body">
                        <h5 class="card-title" style="color: aliceblue;"><b>Nonstop Radio</b></h5>
                        <p class="card-text"><br></p>
                    </div>
                </div>
            </div>
            <div class = "col-lg-2"></div>
        </div>
    </div>
    <footer>
        <div class="song">
            Your Song...
        </div>
    </footer>
</div>